
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}CALCULADORA STRING SYMFONY{% endblock %}</title>

</head>
<body>
{% block body %}

    <h1>CALCULADORA STRING SYMFONY</h1>
    <h2>Introduce un String de varias palabras en la primera casilla <br>
        Introduce una palabra en cada casilla para la opción concatenar</h2>

    <form method="post" action="{{ action }}">
        <input type="text" name="op1"><br>
        <input type="text" name="op2"><br>
        <input type="submit" value="ok">
    </form>
{% endblock %}

</body>
</html>