<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}CALCULADORA SYMFONY STRING{% endblock %}</title>

</head>
<body>
{% block body %}

    <h1>CALCULADORA SYMFONY STRING</h1>

    El resultado es: {{ resultado }}
{% endblock %}

</body>
</html>